#left {
  width: 48%;
  float:left;
  max-height: 99vh;
  overflow:auto;
  min-height: 500px;
  min-width: 370px;
  margin-left: 8px;
}

#right {
  width: 48%;
  float:right;
  max-height: 99vh;
  overflow:auto;
  min-height: 500px;
  min-width: 370px;
}
